*.i
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.log
*.net
*.raw
*.swp
.DS_Store
term/build
term/xbuild
new_term/build
new_term/xbuild
term/win32/bin
.depend
*.list
*.out
*.pyc
tools/pycrc*

sim/sim
sim/plot
stmblx
*.ngc

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.lck

# kicad bak files
hw/kicad/*.bak
hw/kicad/*/*.bak
hw/kicad/*/*/*.bak

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
obj_app/
obj_boot/
obj_hv/
obj_hv_boot/
